[core]
	excludesfile = ~/.gitignore_global
[user]
	name = kimberli
	email = kimberlizhong@gmail.com
[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
